/* Import fonts */
@font-face {
    font-family: 'Qualtrics Grotesque';
    src: url('../fonts/QualtricsGrotesque/QualtricsGrotesque-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Qualtrics Grotesque';
    src: url('../fonts/QualtricsGrotesque/QualtricsGrotesque-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'FreightSans Pro';
    src: url('../fonts/Freight-Sans-Pro-Family/GarageFonts - FreightSans Pro Light.otf') format('truetype');
}

@font-face {
    font-family: 'FreightSans Pro';
    src: url('../fonts/Freight-Sans-Pro-Family/GarageFonts - FreightSans Pro Bold.otf') format('truetype');
    font-weight: bold;
}

html, body{
    font-family: 'FreightSans Pro', Helvetica;
}

.background{
    background-color: #2f393f;
    height: 6em;
}

.nav-height{
    height: 5em;
}

.nav-img{
    width: 3em;
    height: 3em;
    margin-left: 110%;
}

.center-ul{
    margin-top: 0.8em;
}

.li-text{
    font-size: 19px;
}

.li-selected:hover, .li-selected:active {
    list-style-type: none;
    height: 4em;
    border-bottom: 7px solid;
    border-bottom-color: #d8d9de;
}

.h3-title{
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    font-family: 'Qualtrics Grotesque';
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    text-shadow: 2px 2px 4px #000000;
}

.slider .indicators .indicator-item {
    background-color: #666666;
    border: 3px solid #ffffff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }

.slider .indicators .indicator-item.active {
    background-color: #ffffff;
}

.slider .indicators {
    bottom: 53px;
    display: none
/* text-align: left; */
}

.page-footer{
    /*background-image: url("./../img/texturas-03.jpg");*/
    background-color: #5b5c5c !important;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    position:relative;
    background-size: cover;
    margin: 0 0 !important;
}

.page-footer .footer-copyright{
    background-color: #2f393f5c !important;
}

.btn-enviar{
    background-color: #c42626 !important;
}

.input-field input[type=text]:focus + label {
    color: white;
}

.background-adn{
    background-image: url("./../img/texturas-05.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    position:relative;
    background-size: cover;
    margin: 0 0 !important;
}

.img-filosofia{
    margin-left: 117%;
}

.span-filosofia{
    margin-left: 36% !important;
    font-size: 19px;
    text-align: center;
    padding: 0 !important;
    width: 29% !important;
}

.span-nosotros{
    font-size: 19px;
    margin-top: 4%;
    text-align: center;
    padding: 0 !important;
    width: 100% !important;
    display: inline-flex;
}

.background-servicios{
    /*background-image: url("./../img/texturas-02.jpg");*/
    background-color: #5b5c5c !important;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    position:relative;
    background-size: cover;
    margin: 0 0 !important;
}

.clientes-title{
    background-color: #c42625;
    color: white;
    height: 4em;
    font-weight: bold;
    text-align: center;
    width: 13em;
    border: 2px solid;
    border-radius: 11px;
    border-color: white;
    z-index: 1;
    margin: auto;
}

.servicios-title{
    background-color: #c42625;
    color: white;
    height: 4em;
    font-weight: bold;
    text-align: center;
    width: 13em;
    border: 2px solid;
    border-radius: 11px;
    border-color: white;
    z-index: 1;
    margin: auto;
}


.nosotros-title{
    background-color: #c42625;
    color: white;
    height: 4em;
    font-weight: bold;
    text-align: center;
    width: 19em;
    border: 2px solid;
    border-radius: 11px;
    border-color: white;
    z-index: 1;
    margin: auto;
}

.swipe-servicios {
    height: 30em;
}

#test-swipe-1{
    background-color: white;
    height: 20em;
}
#test-swipe-2{
    background-color: white;
    height: 20em;
}
#test-swipe-4{
    /*background-color: #f9f8f8;*/
    background-color: white;
    height: 20em;
}
#test-swipe-3{
    background-color: white;
    height: 20em;
}

.img-swipe{
    margin-top: 9%;
}

.carousel .carousel-item>img {
    width: auto !important;
}

.tabs-content {
    height: 20em !important;
}
.tabs .tab a{
    color: #fbfafa !important
}
.tab a:hover, .tabs .tab a.active {
    background-color: transparent !important;
    color: white !important;
    border-bottom: 4px solid;
    border-bottom-color: white
}
.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: transparent !important;
    will-change: left, right;
}

.wrapperTitle {
    margin-bottom: -5rem;
    position: relative;
    text-align: center;
    z-index: 30;
}

.wrapperTitle.nosotrosTitle{
    margin-top: -3rem;
    margin-bottom: -2rem;
    z-index: 60;
}

.wrapperTitle.serviciosTitle {
    margin-top: -3rem;
    margin-bottom: -2rem;
    z-index: 60;
    width: 13em;
    margin-left: auto;
    margin-right: auto;
}

.wrapperTitle.clientesTitle {
    margin-top: -4rem;
    margin-bottom: -1rem;
    z-index: 60;
}

.wrapperTitle.equipoTitle {
    margin-top: -2rem;
    margin-bottom: -2rem;
    z-index: 60;
}

.item {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.first-img, .second-img, .third-img, .fourth-img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.first-img:hover, .second-img:hover, .third-img:hover, .fourth-img:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.q-colombia{
    /*margin-bottom: 4em !important;*/
    margin-top: 2em;
}

.item-colombia{
    text-align: center;
}

.item-mundo{
    margin-top: 2em !important;
    text-align: center;
}

.q-line{
    height: 5px;
    z-index: -1;
    margin-top: 4em;
    margin-bottom: -2em;
    background-color: #2f393f;
}

.q-line-nosotros{
    height: 5px;
    z-index: -1;
    margin-top: 3em;
    margin-bottom: -2em;
    background-color: #2f393f;
}

.last-img{
    padding-bottom: 1.5em;
}

.background-equipo{
    background-image: url("./../img/texturas-02.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    position:relative;
    background-size: cover;
    margin: 0 0 !important;
}

.principal-row{
    text-align: center;
    margin-bottom: 2em !important;
}


.team-row img, .team-row2 img, .team-row3 img, .team-row4 img{
    width: 18em;
    height: 18em;
    margin-left: 2em;
}

.team-row:hover img, .team-row2:hover img, .team-row3:hover img, .team-row4:hover img{
    filter:brightness(60%);
}

.team-row :not(img){
    position: absolute;
    z-index: 1;
    /* top: 30%; */
    /* margin-top: 3em; */
    /* margin-left: 3%; */
    /* width: 100%; */
    /* text-align: center; */
    color: #fff;
    opacity: 0;
    transition: .3s;
    /* left: 5.5%; */
    padding-left: 2.2%;
    padding-top: 3%;
}

.team-row2 :not(img){
    position: absolute;
    z-index: 1;
    /* top: 30%; */
    /* margin-top: 3em; */
    /* margin-left: 3%; */
    /* width: 100%; */
    /* text-align: center; */
    color: #fff;
    opacity: 0;
    transition: .3s;
    /* left: 5.5%; */
    padding-left: 2.2%;
    padding-top: 3%;
    
}

.team-row3 :not(img){
    position: absolute;
    z-index: 1;
    /* top: 30%; */
    /* margin-top: 3em; */
    /* margin-left: 3%; */
    /* width: 100%; */
    /* text-align: center; */
    color: #fff;
    opacity: 0;
    transition: .3s;
    /* left: 5.5%; */
    padding-left: 2.2%;
    padding-top: 3%;
}

.team-row4 :not(img){
    position: absolute;
    z-index: 1;
    /* top: 30%; */
    /* margin-top: 3em; */
    /* margin-left: 3%; */
    /* width: 100%; */
    /* text-align: center; */
    color: #fff;
    opacity: 0;
    transition: .3s;
    /* left: 5.5%; */
    padding-left: 2.2%;
    padding-top: 3%;
    
}

.name{
    top: 20%;
    text-align: center;
    padding-left: 3.5% !important;
    align-content: center;
    font-size: 1.3em !important;
    font-weight: bold;
}

.cargo{
    top: 31%;
    /* left: 1%; */
    padding-left: 6% !important;
    font-size: 1em !important;
    align-content: center !important;
    padding-left: 4%;
}

.correo{
    top: 40%;
    padding-left: 4.5% !important;
    font-size: 1em !important;
    align-content: center !important;
}

.namea{
    top: 20%;
    /* text-align: center; */
    padding-left: 4% !important;
    align-content: center;
    font-size: 1.3em !important;
    font-weight: bold;
}

.cargoa{
    top: 31%;
    /* left: 1%; */
    /*padding-left: 6.5% !important;*/
    font-size: 1em !important;
    align-content: center !important;
    padding-left: 9% !important;
}

.correoa{
    top: 40%;
    /*padding-left: 5% !important;*/
    font-size: 1em !important;
    align-content: center !important;
    padding-left: 6.5%  !important;
}

.namem{
    top: 20%;
    text-align: center;
    padding-left: 5.5% !important;
    align-content: center;
    font-size: 1.3em !important;
    font-weight: bold;
}

.cargom{
    top: 31%;
    font-size: 1em !important;
    align-content: center !important;
    padding-left: 8.5% !important;
}

.correom{
    top: 40%;
    font-size: 1em !important;
    align-content: center !important;
    padding-left: 6.5% !important;
}

.named{
    top: 20%;
    text-align: center;
    padding-left: 6% !important;
    align-content: center;
    font-size: 1.3em !important;
    font-weight: bold;
}

.cargod{
    top: 31%;
    font-size: 1em !important;
    align-content: center !important;
    padding-left: 8.5% !important;
}

.correod{
    top: 40%;
    font-size: 1em !important;
    align-content: center !important;
    padding-left: 6.5% !important;
}
  
.team-row:hover :not(img), .team-row2:hover :not(img), .team-row3:hover :not(img), .team-row4:hover :not(img){
    opacity:1;
}

/*.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }

.team-row:hover .overlay {
    opacity: 1;
}   

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }*/

.team-row, .team-row2, .team-row3, .team-row4 {
    padding-top: 4em;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    text-align: center;
    display: inline-block;
    transition:.3s;
}

.linked-row {
    padding-top: 1em;
    text-align: center;
}

.first-img{
    margin-left: 0 !important;
}

.img-footer{
    width: 220px;
    height: 220px;
    border-radius: 1em;
}

.footer-mail {
    background-color: red;
    opacity: 0.5;
    z-index: -1;
}

.img-linked {
    width: 2em;
    height: 2em;
    /*margin-left: 1em;*/
}

.serv, .team {
    font-size: 2em;
    line-height: 1.7em;
}

.q-col, .q-world {
    font-size: 2em;
    line-height: 1.7em;
}

.parallax-container {
    height: 200px !important;
  }

.service-row {
    margin-bottom: 0 !important;
}

/* label color */
.input-field label {
    color: white !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: white !important;
}
/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=email]:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
}
 /* icon prefix focus color */
.input-field .prefix.active {
    color: white !important;
}

textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
}

.nosotros {
    background-color: white;
}

.btn-demo{
    border-radius: 2em !important;
    margin-left: 1em;
    background-color: #dad9d7 !important;
    color: black !important;
}

.btn-demo:hover, .btn-demo:active {
    background-color: white !important;
    color: red !important;
}

.demo-title{
    font-size: 1.5em;
    vertical-align: middle;
}

.flags {
    width: 1.7rem;
    height: 1rem;
}

.li-last{
    margin-right: 1em;
}

.li-flags{
    /*position: fixed; */
    top: 0rem;
    /* right: 1rem; */
    line-height: 1em;
    margin-top: 2%;
    /* padding-left: 1em; */
    /* margin-left: 8em; */
    /* z-index: 1; */
}

.li-flags input {
    display: none;
}

.li-flags input + label {
    padding: 0 .3rem;
    margin: 0;
    border-radius: .15rem;
}

.li-flags input:checked + label, .li-flags label:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.flags-row{
    margin-bottom: 0 !important;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: transparent !important;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid transparent !important;
}

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
    padding-left: 0 !important;
}

[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
    border: transparent !important;
}

.voce{
    width: 200px;
    height: 250px;
    /* margin-right: 9%; */
    margin-top: 14%;
    /* margin-left: -9%; */
}

.q-img{
    width: 14em;
    height: 14em;
    /*margin-right: 8%;
    margin-top: 3%;*/
    margin-top: 28%;
}

.span-text {
    margin-top: 4%;
    width: 30% !important;
    text-align: justify;
    font-size: 16px;
}

.span-voce{
    margin: auto;
}

.swipe-text{
    font-size: 17px;
    display: flex;
}

.swipe-col{
    margin: auto;
    margin-top: 2%;
    margin-left: 7% !important;
    text-align: left;
    font-size: 15px;
    width: 27% !important;
}

.swipe-col-ex{
    margin: auto;
    margin-top: 3%;
    padding-left: 3em;
    text-align: center;
}

.row-swipe{
    margin-bottom: 4% !important;
}

.swipe-img-span{
    margin-left: 4% !important;
}

.img-voce {
    margin-right: 0%;
    margin-left: 3% !important;
}

.btn-qualtrics{
    border-radius: 2em !important;
    margin-left: 1em;
    background-color: #c42625 !important;
    color: white !important;
    margin-top: 16%;
}

.icon-swipe {
    vertical-align: middle;
}

.swipe-col-icon{
    display: flex;
    line-height: 1em;
}

.span-img{
    display: -webkit-box;
    vertical-align: middle;
    margin-left: 1%;
    margin-bottom: auto;
    margin-top: auto;
}