/* Import fonts */
@font-face {
    font-family: 'Qualtrics Grotesque';
    src: url('../fonts/QualtricsGrotesque/QualtricsGrotesque-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Qualtrics Grotesque';
    src: url('../fonts/QualtricsGrotesque/QualtricsGrotesque-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'FreightSans Pro';
    src: url('../fonts/Freight-Sans-Pro-Family/GarageFonts - FreightSans Pro Light.otf') format('truetype');
}

@font-face {
    font-family: 'FreightSans Pro';
    src: url('../fonts/Freight-Sans-Pro-Family/GarageFonts - FreightSans Pro Bold.otf') format('truetype');
    font-weight: bold;
}

html, body{
    font-family: 'FreightSans Pro', Helvetica;
}

.background{
    background-color: #2f393f;
    height: 6em;
}

.nav-height{
    height: 5em;
}

.nav-img{
    width: 3em;
    height: 3em;
    margin-left: 110%;
}

.center-ul{
    margin-top: 0.8em;
}

.li-text{
    font-size: 19px;
}

.li-selected:hover, .li-selected:active {
    list-style-type: none;
    height: 4em;
    border-bottom: 7px solid;
    border-bottom-color: #d8d9de;
}

.h3-title{
    color: #c22626
}

.slider .indicators .indicator-item {
    background-color: #666666;
    border: 3px solid #ffffff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }

.slider .indicators .indicator-item.active {
    background-color: #ffffff;
}

.slider .indicators {
    bottom: 53px;
    display: none
/* text-align: left; */
}

.page-footer{
    background-image: url("./../img/texturas-03.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    position:relative;
    background-size: cover;
    margin: 0 0 !important;
}

.btn-enviar{
    background-color: #c22626 !important;
}

.input-field input[type=text]:focus + label {
    color: white;
}

.background-adn{
    background-image: url("./../img/texturas-05.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    position:relative;
    background-size: cover;
    margin: 0 0 !important;
}

.img-filosofia{
    margin-left: 117%;
}

.span-filosofia{
    margin-left: 36% !important;
    font-size: 19px;
    text-align: center;
    padding: 0 !important;
    width: 29% !important;
}

.background-servicios{
    background-image: url("./../img/texturas-02.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    position:relative;
    background-size: cover;
    margin: 0 0 !important;
}

.servicios-title{
    background-color: red;
    color: white;
    height: 3em;
    text-align: center;
    width: 11em;
    border: 2px solid;
    border-radius: 11px;
    border-color: white;
    z-index: 1;
    margin: auto;
}